/* Estilos base (para telas maiores) */


@import url('https://fonts.googleapis.com/css2? family= Edu+TAS+Beginner:wght@400;500;600 & family= Oswald & display=swap');

html{
background-color: #FAFAD2;
}


body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
section{
   padding: 20px 0 0  5%;
   margin-bottom: 2vh;

}

/* Estilos para telas menores (máximo de 900px) */
ul {
  margin: 0px;
  padding: 0px;
}


/*==========menu lateral================*/
 nav.menu-lateral {
   width: 40px;
   height: 100%;
   background-color: rgb(255, 111, 0);
   padding: 40px 0 40px 1%;
   box-shadow: 3px 0 0 #1b0f0f;

   position: fixed;
   top: 0;
   left: 0;
   overflow: hidden;
   transition: .2S;


 }

 nav.menu-lateral:hover {
   width: 300px;

 }

 .btn-expadir {
   width: 100%;
   padding-left: 10px;
 }

 .btn-expadir>i {
   color: rgb(166, 49, 17);
   font-size: 24px;
   cursor: pointer;
 }

 ul {
   height: 100%;
   list-style-type: none;
 }

 ul li.item-menu a {
   color: aliceblue;
   text-decoration: none;
   font-size: 20px;
   padding: 20px 4%;
   display: flex;
   margin-bottom: 20px;
   line-height: 40px;
 }

 ul li.item-menu a .txt-link {
   margin-left: 20px;

 }

 ul li.item-menu a .icon>i {
   font-size: 30px;

 }

 ul li.item-menu:hover {
   background: rgba(127, 91, 91, 0.415);
 }

 ul li.item-menu {
   transition: .2s;
 }




/*===========fim===============*/

#nav {
  display: block;
  justify-content: space-between;
  align-items: center;
  top: 1vh;
  left: 30px;
  width: 10vh;
  height: 10vh;
  background-color: none;
  position: fixed;
  z-index: 10000;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header-menu {
  background-color: #007bff;
  box-sizing: border-box;
  height: 70px;
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
}

#menu {
  padding-top: 0%;
  padding: 40%;
  display: flex;
  list-style: none;
  gap: 0.5rem;

}

#menu li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}

#menu a {
  text-decoration: none;
  color: red;
  padding: 0.5rem;
}

#btn-menu {
  display: none;
}

@media (max-width: 900px) {
  body {
    font-size: 14px;
    /* Reduz a fonte base para telas menores */
  }

  #menu {
    display: flex;
    position: relative;
    padding: 0%;
    width: 10%;
    top: 3px;
    right: 0px;
    height: 0px;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;

  }

  #nav.active #menu {
    display: flex;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: none;
      display: block;
      justify-content: space-between;
      align-items: center;
      left: 120px;
      width: 1000vh;
      height: 10vh;
      margin-top: 4vh;
      background-color: none;
      position: fixed;
      z-index: 10000;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-menu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    z-index: 1001;
  }

  #hang {
    border-top: 2px solid;
    width: 20px;
  }

  #hang::after,
  #hang::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hang {
    border-top-color: transparent;
  }

  #nav.active #hang::before {
    transform: rotate(135deg);
  }

  #nav.active #hang::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/*-------------------------------------------*/
    /*-- Tela Inicial -----*/


    #tela-inicial{
      
    }


/* Estilos para botões (responsivo) */

/*-----tela de login ----*/

.tela-login form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}
.tela-login input {
  width: 40vh;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2vh;
}
button[type="button"] {
  background-color: #007bff;
  color: #def7f4;
  border: none;
  cursor: pointer;
  padding: 8px 10px ;
  width: 35vh;
  border-radius: 5px;
  margin-top: 1vh;
  align-items: center;
  text-align: center;
  margin-left: 2%;

}
.tela-login a{
    margin-bottom: 1vh;
}
/*-----fim ----*/

/* ------cadastro------------ */
.cadastro{
    width: 25%;

}


.cadastro form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}
.cadastro input {
  width: 50vh;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2vh;
  flex-direction: column;
  align-items: center;
}
.cadastro button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 35vh;
  margin-left: 10%;
}

/*-----fim ----*/





/* ------Escolha-espoter------------ */

.esporte img{
    width: 10vh;
    border-radius: 10px;
    margin-bottom: -2vh;


}

.esporte button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30vh;
  
}
 
/*----------fim---------------*/



/* -----Organização de Partidas de Vôlei ---- */


.organizar-volei form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}
.organizar-volei input {
  background-color: none;
  width: 40vh;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2vh;
}
.organizar-volei button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 35vh;
  margin-left: 2%;
}
.tela-login a{
    margin-bottom: 1vh;
}



/*----------fim---------- ----*/



/* ------Organização de Partidas de Tênis de Mesa ----------- */


.organizar-tenis form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}
.organizar-tenis input {
  background-color:none;
  width: 40vh;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2vh;
}
.organizar-tenis button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 35vh;
  margin-left: 2%;
}
.tela-login a{
    margin-bottom: 1vh;
}




/*----------fim---------- ----*/



/* ------cadastro------------ */

/*----------fim---------- ----*/



/* ------cadastro------------ */

/*----------fim---------- ----*/


/* ------cadastro------------ */

/*----------fim---------- ----*/


/*---------

input[type="text"] {
  width: 50vh;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

input[type="email"] {
  width: 40vh;
  padding: 2px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
*/
/*
input[type="password"] {
  width: 40vh; /* Sempre 100% da largura, independentemente do tamanho da tela 
  padding: 2px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}



input[type="time"] {
  width: 100%; /* Sempre 100% da largura, independentemente do tamanho da tela 
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="number"] {
  width: 100%; /* Sempre 100% da largura, independentemente do tamanho da tela 
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
*/